version: '3.9'

services:
  server:
    build: .
    container_name: debugger_server
    ports:
      - "${APP_EXTERNAL_PORT}:${APP_PORT}"
    depends_on:
      - mongodb
    volumes:
      - ./:/app
    restart: always

  mongodb:
    container_name: debugger_db
    image: mongo:latest
    volumes:
      - ./data/mongodb:/data/db
    environment:
      MONGO_INITDB_DATABASE: ${DATABASE}
    restart: always

  express:
    container_name: debugger_express
    image: mongo-express:latest
    ports:
      - "9988:8081"
    depends_on:
      - mongodb
    environment:
      ME_CONFIG_MONGODB_SERVER: mongodb
      ME_CONFIG_BASICAUTH_USERNAME: username
      ME_CONFIG_BASICAUTH_PASSWORD: password
    restart: always
